wxPython==4.1.1
pdfplumber==v0.6.0
pandas==1.3.5
openpyxl==3.0.9
#打包
py2app;sys_platform == 'darwin'
py2exe==0.11.1.0;sys_platform == 'win32'
pywin32==303;sys_platform == 'win32'
pyinstaller==4.9
ez_setup